# ignore everything
/*
/*/

# ... but these:
!/Readme.org
!/.gitignore
!/waybar/
!/hypr/
!/rofi/
!/elvish/
!/ranger/
!/kitty/
!/dunst/
!/alacritty/
!/zellij/
!/yazi/
!/starship.toml
!/sxhkd/
!/bspwm/
!/polybar/
!/zsh/
!/uv/
!/wdx/
!/btop/
!onedrive/config
!/gtk-3.0/
!/gtk-4.0/

!ArchInstall
!/fcitx5/
